@media only screen and (min-width: 900px) {
    .Contactform {
        text-align: center;
        width: 100%;
        margin: 20px auto;
        background-color: #1C1A1A;
              
      }
      Form {
        border: 1px solid white;
        border-radius: 10px;
        padding: 20px;
        text-align: left;
        background-color: #1C1A1A;
        width: 50%;
        margin: auto;
        
      }
  
      #button {
        color: black;
        background-color: #D9D9D9;
        display: block;
        margin: auto;
    }
  
      
      
      #intouch{
        background-color: #1C1A1A;
        min-height: 10vh;
        height: fit-content;
        display: flex;
        width: 100%;
        text-align: left;
        align-items: center;
      }
  
      #intouch h3{
        /*color: #DDBC45;*/
        margin-left: 1vw;
        font-family: 'Courier';
      }

    
  }

  @media only screen and (min-width: 320px) and (max-width: 900px){}
  
  
  