@media only screen and (min-width: 900px) {
.rowContainer {
    display: flex;
  }
  
  .column {
    flex: 1; /* Each column takes up equal space */
    margin-right: 10px; /* Optional: Adjust the margin between columns */
  }
  .card {
    width: 400px;
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-para{
    color: #ccc;
  }

  .card:hover{
    opacity: 0.5;
  }
}

@media only screen and (min-width: 0px) and (max-width: 900px){
  
  .card {
    max-width: 100%; /* Ensures the container does not exceed the viewport width */
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 2px solid #fff;
  }
  .responsive-image {
    width: 100%; /* Makes the image width 100% of its container */
    height: auto; /* Allows the image height to adjust proportionally */
    display: block; /* Removes extra space below inline images */
  }
}
 