@media only screen and (min-width: 900px) {
#main {
  background-color: #FAF9F6;
  min-height: 10vh;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  
}

h3 {
  margin-left: 0vw;
}
}