@media only screen and (min-width: 900px) {}
@media only screen and (min-width: 0px) and (max-width: 900px){
    .footer{
        width: 100%; /* Ensures the container does not exceed the viewport width */
        margin: 0 auto;
        background-color: #333;
        position: fixed;
        color: aliceblue;
        padding-bottom: 0px;
        bottom: 0;
        overflow: hidden;
    }
}